################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSignup/.vs/UserSignup/v16/Server/sqlite3/db.lock
